/* Gives the background color, and font of entire page. */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Gives the body of the webpage a font */
body{
    font-family: "COURIER NEW";
    background-color:lightgrey;
    font-size: 20px;
}

/* directs the content inside the header with centered text, the size of the text */
header{
    text-align: center;
    padding-bottom: 20px;
}

/* this allows me to add flavor to the navigation bar on top of my HTML page  */
nav{ 
    display: block;
    justify-content:flex-start;
    background-color: black;
    padding:15px ;
} 

nav ul{
    text-align: center;
    color: gray;
    padding-left: -20px; 
}

nav li{
    display: inline; 
}

nav a{
    padding:20px;
    color: antiquewhite;
    font-size: 15px bold;
    text-decoration: none;
}

a:hover{
    color: gray;
}


#name{
    color: antiquewhite;
} 
/* This is editing the "welcome" in the top of the page */
h1{
   font-size: 75px;
   font-family: cursive;
   border-bottom: solid 9px;
   text-align: center;
   margin: -10px;
}

img{
    height: 300px;
    width: 250px;
}

.float_left{
    float: center;
} 

#personal, #myWork, #info{
    width: 100%;
    border: 10px solid blue;
    padding: 20px;
    margin: 0;
    float: right;
    background-color: antiquewhite;
}

/* #personal, #myWork, #info{
    display: none;
} */